<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>


</head>

<body class="body">

    <div class="row row-centered">
        <div class="col-lg-12" id="slideshow">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" href="/login">Login</a>
                <a class="flex-sm-fill text-sm-center nav-link"></a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/signup">Signup</a>
            </nav>
            <h1 id="lounge">Lounge</h1>
            <h2 id="tagline">Discover your Sound</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h1>Browse Lounges</h1>
                <br/>
            </div>
            <div class="col-auto">
                <br>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button i class="fa fa-search" type="submit"></button>
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="kpop">
                        <img src="../../images/k-pop.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="rock">
                        <img src="../../images/rock.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="classical">
                        <img src="../../images/classic.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="hiphop">
                        <img src="../../images/hiphop.jpg" class="img-fluid" alt="Responsive image"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="jazz">
                        <img src="../../images/jazz.jpg" class="img-fluid" alt="Responsive image"></a>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" id="edm">
                        <img src="../../images/edm.jpg" class="img-fluid" alt="Responsive image"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/lounge.js"></script>
    <script src="../../js/clicks.js"></script>
</body>

</html>